version: 2
jobs:
  build:
    environment:
      DX_CLI_URL: https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
      DEVHUB_ALIAS: huborg
      CI_ORG_ALIAS: ciorg
    
    docker:
      - image: circleci/node

    steps:
      - checkout

      - run:
          name: Prepare SFDX CLI
          command: |
            # Install CLI
            mkdir sfdx
            wget -qO- $DX_CLI_URL | tar xJ -C sfdx --strip-components 1
            ./sfdx/install
            sfdx

            # Decrypt Server Key
            openssl enc -nosalt -aes-256-cbc -d -in assets/server.key.enc -out assets/server.key -base64 -K $DECRYPTION_KEY -iv $DECRYPTION_IV

            # Force Auth Grant on DevHub
            sfdx force:auth:jwt:grant --clientid $HUB_CONSUMER_KEY --jwtkeyfile assets/server.key --username $HUB_SFDX_USER --setdefaultdevhubusername -a $DEVHUB_ALIAS

      - run:
          name: Create ScratchOrg and Push code
          command: |
            sfdx force:org:create -v $DEVHUB_ALIAS -s -f config/project-scratch-def.json -a $CI_ORG_ALIAS --wait 3
            sfdx force:org:display -u $CI_ORG_ALIAS
            sfdx force:source:push -u $CI_ORG_ALIAS
      
      - run:
          name: Run Apex Tests
          command: |
            echo 'Run Apex Tests'
            #sfdx force:apex:test:run -u $CI_ORG_ALIAS --wait 10

      - run:
          name: Delete Useless Scratch Org
          command: |
            sfdx force:org:delete -u $CI_ORG_ALIAS -p